<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Day7</title>
</head>
<body>

  <div id="app"> 
    <input type="text" v-model="searchName">
    <ul>
      <li v-for="(p, index) in filterPersons" :key="index">
        {{ index }}----{{ p.name }}----{{ p.age }}
      </li>
    </ul>

    <button @click="setOrderType(1)">升序</button>
    <button @click="setOrderType(2)">降序</button>
    <button @click="setOrderType(0)">原本順序</button>

  </div>
  
  <script src="../js/vue.js"></script>
  <script src="./day7.js"></script>

</body>
</html>